
/* The panel is a very cramped place for the dash, so we'll squash some stuff that takes too much
   vertical space. This is especially true in Hi-DPI, where all elements become beefer, but the
   panel might often be quite small. */

#dash.panel {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 0;
	margin-bottom: 0;
}

#dash.panel #em-dash-view-box {
	spacing: 3px; /* special property for St.BoxLayout */
}

#dash.panel .overview-icon,
#dash.panel .app-well-app-running-dot {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/* Improve appearance when docked */

#dash.dock #em-dash-view-box {
	spacing: 5px; /* special property for St.BoxLayout */
}

#dash.dock #em-dash-view-box.vertical {
	padding-left: 5px;
	padding-right: 5px;
}

/* Optional: just remove the border */

#dash.no-border,
#dash.merge {
	border-width: 0;
	border-radius: 0 0 0 0;
	outline-width: 0;
	outline-offset: 0;
	box-shadow: none;
	transition-duration: 200ms;
}

/* Optional: allow the dash to blend better into its surroundings */

#dash.merge {
	background-image: none;
	background-color: transparent;
	transition-duration: 200ms;
}

/* Themes do not usually expect a dark background for the icons, so the built-in highlight is
   barely visible. We'll make it more visible. */

#dash.merge .app-well-app:hover .overview-icon,
#dash.merge .app-well-app:focus .overview-icon,
#dash.merge .app-well-app:selected .overview-icon {
	background-color: rgba(238, 238, 236, 0.3);
	transition-duration: 100ms;
}

/* Optional: highlight focused app */

.focused {
	border-radius: 5px;
	/* background is set dynamically */
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7);*/
}

/* The built-in show apps button has unnecessary padding. */

.show-apps-em-dash {
	padding: 0 0;
}






#dash.arrow-down {
	border-bottom: 5px solid red;
}


#em-dash-arrow {
  	width: 30px;
	height: 20px;
	border-color: red;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	background-color: green;
}
